body{
    /* background-color: red; */
}

.margin_top{
    /* height: 100%; */
    margin-top: 20px;
    /* padding: 0 10px; */
    margin-left: 5px;
    margin-right: 5px;
}

.cardHeight{
    /* height: 460px; */
    height: 100%;
}

.cardHeight:hover{
    

    /* transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25); */

  /* transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25); */

  transform: scale(1.05);
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.25);
}

.image_margin{
    margin-bottom: 5px;
}

.inputBox{
    display: flex;
    
    margin-left: 10px;
}

.inputWidth{
    /* width: 221px; */
    width: 30%;
}

.cart{
    font-size: 31px;
}

.cart-favorites {
    color: red;
  }



@media screen and (max-width : 986px) {
    .inputBox{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .searchtxt{
        width: 147px;
        margin-bottom: 5px;
    }
    .inputWidth{
        width: 80%;
    }
}